.disabled {
  color: gray;
}

.formAppointment {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

label {
  display: block;
  margin: 20px 0;
  font-weight: bold;
  font-size: 18px;
}
* {
  font-family: "Times New Roman", Times, serif;
}
input[type="time"],
input[type="date"],
select {
  width: 60%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.disabled {
  color: gray;
}

.titles {
  letter-spacing: 5px;
  color: white;
}

.headerA {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 255, 255), 0 0 82px rgb(255, 255, 255),
    0 0 92px rgb(255, 255, 255), 0 0 102px rgb(255, 255, 255),
    0 0 151px rgb(255, 255, 255);
  text-align: center;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 30px;
  font-family: "lorem";
  letter-spacing: 5px;
}

.pleaseLogin {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding-bottom: 430px;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 100px;
  animation: blinker 0.5s linear infinite;
}

.page {
  background: url("https://wallpaperaccess.com/full/307193.jpg");
  background-position: center;
  margin-top: -30px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  width: 100%;

  z-index: 1;
  position: "absolute";
}

/* boook now */

.b {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  background-color: black;
  border: rgb(255, 255, 255);
  letter-spacing: 4px;
}

.b:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff,
    0 0 100px #ffffff;
}

.b span {
  position: absolute;
  display: block;
}

.b span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.b span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.b span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.b span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@media (max-width: 768px) {
  .headerA {
  }
}
