.video {
  min-width: 100%;
  width: 100%;
  opacity: 0.4;
  position: "relative";
  z-index: 0;
  display: flex;

  justify-content: center;
}
.footer {
  display: flex;
  margin-top: 50px;
  position: relative;
  background-color: black;
  width: 100%;
  margin-bottom: 50px;
  align-items: center;
}
.text {
  position: absolute;
  line-height: 50px;
  text-align: center;

  color: white;
  font-size: 32px;
  letter-spacing: 7px;
  font-family: "lorem";
}
.text {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 255, 255), 0 0 82px rgb(255, 255, 255),
    0 0 92px rgb(255, 255, 255), 0 0 102px rgb(255, 255, 255),
    0 0 151px rgb(255, 255, 255);
}
